<div class="cardx">
  <h3>Logs</h3>
  <table>
    <thead>
      <tr>
        <th>No</th><th>Number</th><th>Type</th><th>Status</th><th>Error</th><th>Time</th>
      </tr>
    </thead>
    <tbody>
      <% logs.forEach((log,i)=>{ %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= log.number %></td>
        <td><%= log.type %></td>
        <td><%= log.status %></td>
        <td><%= log.error || "" %></td>
        <td><%= log.created_at %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
